* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body{
    min-height: 1200px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
header {
  border-radius: 1em;
  background-color: #eee;
  padding: 5rem;
}
.title {
  text-align: center;
  margin-bottom: 1em;
}
.paragraph {
  text-align: justify;
}
/* Menu */
.menu {
  background-color: rgb(0, 119, 255);
  color: #fff;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  text-align: center;
  clip-path:circle(30px at 50% 25px);
  transition: .3s ease-in-out all;
}
/* Class Active with JS */
.menu.active{
  clip-path:circle(100% at 50% 40%)
}
.menu.active li {
animation: transition-li 1.2s ease-in-out;
}

.icon-container {
  font-size: 2.8rem;
  cursor: pointer;
}
.icon-container:hover {
  animation: rotate 0.5s alternate;
}

/* Animation LI */
@keyframes transition-li {
    /* FROM LEFT TO RIGTH */
    from{
        transform: translateX(-1000px)
    }
    to{
        transform: translateX(0)
    }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.nav {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav li {
  list-style: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3em;
  color: #eee;
  letter-spacing: 10px;
  transition: 0.4s ase all;
}
.nav ul li a:hover{
background-color: rgb(219, 210, 210); 
padding: 1rem;
border-radius:1px;
color:#333
}